<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<img src="http://oi40.tinypic.com/eqv5o1.jpg">
    <a href="/robots/new">
      <button>+ New Animal</button>
    </a>
	<p>
	<ul>

      <% robots.forEach(function(robot){ %>
          <a href="/robots/<%= robot._id %>"><%= robot._id %></a>
          - <%= robot.name %>
          - <%= robot.description %>
			<br>
      <% }) %>

	</ul>
	</p>
    <hr style="margin-top:2em;">

    <a href="https://murmuring-escarpment-34907.herokuapp.com/">view</a> |
<a href="https://github.com/prof-rossetti/robots-api-client-express">source</a>
  </body>
</html>
